.inline_container {
    border:1px solid black;
    border-radius:5px;
    padding:1px;
    margin:4px;
    display: inline-grid;
    background-color:#232323;
}
.inline_container:hover {
  background-color:#111111;
}

.inline_container:active {
  background-color:black;
}

hr {
  color: #ff5500
}

button {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 5px;
  padding: 1px;
  background-color: #232323;
  color: white;
  border: 1px solid black;
}

button:hover {
  background-color: #151515;
}
button:active {
  background-color: #111111;
}
